@charset "utf-8";
.clearfix.after,ul:after,li:after{content: ".";height: 0;display: block;overflow: hidden;clear: both;}
.forget{
	position: relative;
	
	margin: 20px auto 5px auto;
	background: #fff;
	padding: 60px 100px 35px;
	border: 1px solid #deddde;
	margin-top: 60px;
}
.proce{
	padding-bottom: 50px;
}
.proce .proce-line{
	height: 13px;
	width: 100%;
	background: #e1e4e9;
}
.proce .proce-line .proce-num dl dd{
	width: 33.33333%;
	float: left;
	position: relative;
	height: 13px;
}
.proce .proce-line .proce-num dl dd.active{
	background: #ed5565;
}
.proce .proce-line .proce-num dl dd span{
	position: absolute;
	display: block;
	width: 35px;
	height: 35px;
	border: 6px solid #e1e4e9;
	top: -11px;
	left: -1px;
	text-align: center;
	line-height: 22px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
	background: #fff;
}
.proce .proce-line .proce-num dl dd span:nth-child(2){
	right: 0;
	left: 90%;
}
.proce .proce-line .proce-num dl dd span.active{
	border-color: #ed5565;
}
.proce .proce-line .proce-num dl dd i{
	display: block;
	position: absolute;
	top: 30px;
	font-style: normal;
}
.proce .proce-line .proce-num dl dd i.on{
	left: -10px;
}
.proce .proce-line .proce-num dl dd i.sucess{
	right: -5px;
}
.all-btn{
	padding: 30px 0;
}
.forget-btn{
	margin-bottom: 5px;
	height:50px;
}
.forget-btn .btn-left{
	float: left;
	width: 36%;
	text-align: right;
	line-height: 30px;
	color: #0a0a0a;
}
.forget-btn .btn-left label{
	color: #0a0a0a;
	font-size: 16px;
}
.forget-btn .btn-right{
	float: left;
	width: 64%;
	text-align: left;
}
.forget-btn .btn-right input[type="password"],.forget-btn .btn-right input[type="user"]{
	height: 30px;
	width: 60%;
}
.forget-btn .btn-right input[name="yanzheng"]{
	width: 30%;
	height: 30px;
}
.forget-btn .btn-right input:hover{
	background: #eef9ff;
	border-color: #bcdbef;
}
.forget-btn .btn-right input.active{
	background: #eef9ff;
	border-color: #bcdbef;
}
.forget-btn .btn-right input[type="button"]{
	padding: 10px 70px;
	background: #0f78b9;
	color: #fff;
	font-size: 18px;
}
.forget-btn .btn-right img{
	margin-left:15px;
	max-width: 95px;
	display: inline-block; 
}
.forget-fooder{
	
	margin: 0 auto;
	padding: 5px 0 40px;
	text-align: center;
	color: #373737;
	border-bottom: 1px solid #000;
}
/*===验证身份===============*/
.go-email,.go-success{
	padding: 30px 0;
	text-align: center;
	color: #000;
}
.go-email p,.go-phone p{
	text-align: left;
	color: #000;
	margin-bottom: 5px;
}
.go-phone{text-align:center;padding: 30px 0;}
.go-email p.big,.go-phone p.big{
	font-size: 18px;
}
a.on{
	display: inline-block;
	margin-top: 15px;
	text-align: center;
	padding: 10px 35px;
	background: #0F78B9;
	color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
.go-success p{
	color: #777777;
}
@media screen and (max-width: 999px) {
	.forget,.forget-fooder{
		width: 900px;
	}
	.forget-btn .btn-right input[type="password"],.forget-btn .btn-right input[type="user"]{
		width: 65%;
	}
}
@media screen and (max-width: 900px) {
	.forget{
		width: 600px;
		padding: 25px 60px 0px;
	}
	.forget-fooder{
		width: 600px;
	}
	.proce .proce-line .proce-num dl dd i.sucess{
		right: -17px;
	}
	.forget-btn .btn-left{
		width: 31%;
	}
	.forget-btn .btn-right{
		width: 69%;
	}
	.forget-btn .btn-right input[type="password"],.forget-btn .btn-right input[type="user"]{
		width: 100%;
	}
}
@media screen and (max-width: 600px) {
	.forget,.forget-fooder{
		width: 98%;
	}
	.forget{
		padding: 20px 30px 0px 15px;
	}
	.forget-fooder{
		padding: 5px 5px 40px;
	}
	.proce .proce-line .proce-num dl dd i.sucess{
		right: -20px;
	}
	.forget-btn .btn-right input[type="button"]{
		padding: 10px 35px;
		font-size:14px;
	}
	.forget-btn .btn-right input[name="yanzheng"]{
		width: 40%;
	}
	.forget-btn .btn-right img{
		margin-left: 3px;
	}
	.forget-btn .btn-left label{
		font-size: 14px;
	}
}
.error-message{font-size:13px;color:rgb(247, 75, 75);margin-top:5px;}
@media screen and (max-width: 420px) {
	.go-success p{
		font-size: 12px;
	}
}

