<ion-view title="密码修改">
    <ion-nav-buttons side="right">
        <button class="button button-small button-clear button-positive" ng-click="utils.saveIt('passwordSubmitBtn');$event.stopPropagation();" >保存</button>
    </ion-nav-buttons>
    <ion-content has-header="true" has-bouncing="true">
        <form form-produce="formCtrl.conf">
            <div class="list">
                <label class="item item-input">
                    <input type="password" placeholder="当前密码" input-produce="formCtrl.password" ng-model="formCtrl.models.password"/>
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="新密码" input-produce="formCtrl.newPassword" ng-model="formCtrl.models.newPassword"/>
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="重复密码" input-produce="formCtrl.newPasswordAgain" ng-model="formCtrl.models.newPasswordAgain"/>
                </label>
            </div>
            <div style="display:none;">
                <button class="button button-full button-balanced" id="passwordSubmitBtn">设置密码</button>
            </div>
        </form>
    </ion-content>
</ion-view>
