<ion-view title="{{dt.score_txt}}明细" >
    <ion-content has-bouncing="true">
        <ion-refresher on-refresh="doRefresh()" ></ion-refresher>
        <div class="my-table" ng-if="dt.items.length">
            <div class="row header">
                <div class="col">日期</div>
                <div class="col">{{dt.score_txt}}</div>
                <div class="col col-50">备注</div>
            </div>
            <div class="row" ng-repeat="item in dt.items track by item.score_logid" >
                <div class="col">{{item.add_at*1000 | date : 'yyyy-MM-dd'}}</div>
                <div class="col">{{item.type>0?'+':'-'}}{{item.score}}</div>
                <div class="col col-50">{{utils.config.scoreType[item.type] || ''}}</div>
            </div>
        </div>
        <div class="text-center padding gray empty" ng-if="dt.isEmpty">
             <i class="icon iconfont icon-alert gray" style="font-size:64px;"></i>
             <br /><span class="lh_64">您暂时没有{{dt.score_txt}}信息</span>
        </div>
        <div class="no_more_data" ng-if="dt.curPage > 1 && !dt.hasMore && !dt.isEmpty">没有更多数据啦！</div>
        <ion-infinite-scroll on-infinite="loadMore()" ng-if="dt.hasMore" >
        </ion-infinite-scroll>
    </ion-content>
</ion-view>