<style>
    .navi{
        overflow: hidden;
        white-space: nowrap;
        /*padding: 0.5rem 0;*/
        line-height: 2.5rem;
        font-size: 1rem;
        height: 2.5rem;
        background-color: #ffffff;
    }
    .st{
        background-color: red;
    }
    .list_title{
        background-color: #ffffff;
        height: 2rem;
        line-height: 2rem;
        padding-left: 1rem;
    }

    </style>
<ion-view title="购物" hide-back-button="true">
    <ion-nav-buttons side="left">
       <button class="button back-button button-icon icon iconfont icon-iosarrowback" ng-click="utils.goBack('list')" >
            {{ utils.hasHistory()?'返回':'分类'}}
       </button>
    </ion-nav-buttons>
    <ion-nav-title>
        {{getPageTitle()}}
    </ion-nav-title>
    
    <div class="foot-bar slide-top" ng-class="{'has-tab': !hideTabs}" ng-if="calcTotal().count">
        <i class="icon iconfont icon-shoppingcart" ng-click="goCart()"></i>
        <div class="badge badge-assertive" ng-bind="calcTotal().count" ng-click="goCart()"></div>
        <div class="price" ng-click="goCart()">
            <span ng-bind="calcTotal().totalPrice | currency: '￥'" ></span>
            <!--span class="delivery_fee" ng-if="ifNeedDeliveryFee()" ng-bind="'+运费￥'+dt.app.delivery_fee"> </span-->
            <span class="return_money" ng-if="calcTotal().return_money" ng-bind="'可返￥'+calcTotal().return_money"> </span>
        </div>
        <div class="button button-assertive pay-button" ng-click="goPay()">选好了</div>
    </div>
    
    <ion-content lazy-scroll has-bouncing="true" delegate-handle="appScroll" class="cont" ng-class="{'has-foot-bar': calcTotal().count}"  style="background-color: #ffffff;">

        <ion-refresher on-refresh="doRefresh()" ></ion-refresher>

        <div class="group-list" style="padding-top: 0;">
            <div class="row navi" style="padding: 0;">
                <div ng-class="{'col':true,'st':dt.subGroupid==-13}" ng-click="goThenUrl('-13')">
                    已结束
                </div>
                <div ng-class="{'col':true,'st':dt.subGroupid==-6}" ng-click="goThenUrl('-6')">
                    抢购中
                </div>
                <div ng-class="{'col':true,'st':dt.subGroupid==-14}" ng-click="goThenUrl('-14')">
                    未开始
                </div>
            </div>
        </div>
        <div>
            <img width="100%" src="{{dt.banner.image}}">
        </div>
        <div class="list_title">
            抢购中 好价总在犹豫中错过
        </div>
        <div class="app_top" compile="dt.app.app_top"></div>
        <ul class="list goods-ul" ng-if="!dt.isEmpty">
            <li class="item" goods-item ng-repeat="item in dt.items track by item.goodsid" >
                <div class="goods-div">
                    <div class="img hasTag">
                        <div class="tag"><div class="left color{{item.tag.status}}" ng-if="item.tag.txt">{{item.tag.txt}}</div> <div class="right color-1" ng-if="item.tag.show_limit">限购</div> <div class="right color-2" ng-if="item.store == 0">{{dt.conf.no_goods_txt || '无货'}}</div></div>
                        <img class="bg" ng-if="$index < 6" ng-src="{{item.image}}" ng-click="goGoods(item.goodsid)"/>
                        <img class="bg" ng-if="$index >= 6" image-lazy-src="{{item.image}}" image-lazy-loader="dots" ng-click="goGoods(item.goodsid)"/>
                        <div class="count_down" ng-class="{'ing': item.tag.ing == 1}" ng-if="item.tag.show_cd == 1 && cds[item.goodsid]">{{cds[item.goodsid].cd}}</div>
                    </div>
                    <div class="name">
                        {{item.name}}
                    </div>
                    <!--div class="stepper" ng-class="{'gray':item.quantity && !item.tag.btn}">
                        <div ng-if="item.tag.btn" class="btn" ng-class="{'gray': item.tag.ing !=1}" ng-click="orderIt(item);">{{item.tag.btn}}</div>
                        <div ng-if="!item.tag.btn" class="sub icon iconfont icon-iosplusoutline" ng-click="addQuantity(item);"></div>
                        <div ng-if="!item.tag.btn" class="quantity" ng-bind="item.quantity || ''"></div>
                        <div ng-if="item.quantity && !item.tag.btn" class="add icon iconfont icon-iosminusoutline" ng-click="subQuantity(item);"></div>
                    </div>
                    <span class="goods_price" ng-class="{'top':item.quantity && !item.tag.btn, 'hasCD': item.tag.show_cd == 1}" >
                        <span class="rmb" ng-if="item.tag.status != 10">￥</span><span class="pr">{{item.tag.prices.pr}}</span> <span class="dis" ng-if="item.tag.status == 10">{{dt.memberConf.score_txt || '积分'}}</span>
                        <span class="dis" ng-if="item.tag.prices.dis">{{item.tag.prices.dis}}折</span>
                        <span class="prt" ng-if="item.tag.prices.prt">{{item.tag.prices.prt}}</span>
                        <span class="rt" ng-if="item.tag.prices.rt">返￥{{item.tag.prices.rt}}</span>
                    </span-->
                    <div class="stepper" ng-class="{'gray-dom': item.store == 0}">
                        <div ng-if="item.tag.btn" class="btn" ng-click="orderIt(item);">{{item.tag.btn}}</div>
                        <div ng-if="!item.tag.btn" class="addCart icon iconfont icon-cartplus" ng-click="addQuantity(item);"></div>
                    </div>
                    <span class="goods_price" ng-class="{'hasCD': item.tag.show_cd == 1}" >
                        <span class="rmb" ng-if="item.tag.status != 10">￥</span><span class="pr">{{item.tag.prices.pr}}</span> <span class="dis" ng-if="item.tag.status == 10">{{dt.memberConf.score_txt || '积分'}}</span>
                        <span class="dis" ng-if="item.tag.prices.dis">{{item.tag.prices.dis}}折</span>
                        <span class="prt" ng-if="item.tag.prices.prt">{{item.tag.prices.prt}}</span>
                        <span class="rt" ng-if="item.tag.prices.rt">返￥{{item.tag.prices.rt}}</span>
                    </span>
                </div>
            </li>
        </ul>
        <div class="text-center padding gray empty" ng-if="dt.isEmpty">
             <i class="icon iconfont icon-alert gray" style="font-size:64px;"></i>
             <br />
             <div style="padding-top:22px;line-height:22px;">
                这里空空的，请稍后再来！
             </div>
        </div>
        
        <div class="no_more_data" ng-if="dt.curPage > 1 && !dt.hasMore && !dt.isEmpty">没有更多数据啦！</div>
        
        <div class="blank-float"></div>
        <ion-infinite-scroll on-infinite="loadMore()" ng-if="dt.hasMore" >
        </ion-infinite-scroll>
    </ion-content>
</ion-view>