<style>
    .banner img{
        width: 100%;
    }
    .tag_title{
        text-align: center;
        font-size: 1.5rem;
        height: 3rem;
        line-height: 3rem;
        color: #303645;
    }
    .navi{
        overflow: hidden;
        white-space: nowrap;
        /*padding: 0.5rem 0;*/
        line-height: 2.5rem;
        font-size: 1rem;
        height: 2.5rem;
        background-color: #ffffff;
    }
    .navi a{
        margin: 0 0.5rem;
        width:5rem;
        color: #666;
    }
    .navi a:link{
        color:black;
    }
    .navi a:hover{
        color:black;
    }
    .navi a:visited{
        color:black;
    }
</style>
<ion-view title="有货吃" hide-back-button="true">
    <ion-nav-buttons side="left">
       <button class="button back-button button-icon icon iconfont icon-iosarrowback" ng-click="utils.goBack()" >
            {{ utils.hasHistory()?'返回':'购物'}}
       </button>
    </ion-nav-buttons>
    <ion-nav-title>
        {{dt.specialData.title}}
    </ion-nav-title>
    
    <div class="foot-bar slide-top" ng-class="{'has-tab': !hideTabs}" ng-if="calcTotal().count">
        <i class="icon iconfont icon-shoppingcart" ng-click="goCart()"></i>
        <div class="badge badge-assertive" ng-bind="calcTotal().count" ng-click="goCart()"></div>
        <div class="price" ng-click="goCart()">
            <span ng-bind="calcTotal().totalPrice | currency: '￥'" ></span>
            <!--span class="delivery_fee" ng-if="ifNeedDeliveryFee()" ng-bind="'+运费￥'+dt.app.delivery_fee"> </span-->
            <span class="return_money" ng-if="calcTotal().return_money" ng-bind="'可返￥'+calcTotal().return_money"> </span>
        </div>
        <div class="button button-assertive pay-button" ng-click="goPay()">选好了</div>
    </div>
    
    <ion-content overflow-scroll="true"  lazy-scroll has-bouncing="true" delegate-handle="specialScroll" ng-class="{'has-foot-bar': calcTotal().count}">

        <ion-refresher on-refresh="doRefresh()" ></ion-refresher>

        <div class="banner">
            <img ng-src="{{utils.getImgUrl(dt.specialData.image)}}" >
        </div>

        <div>
            <ion-scroll scrollbar-x="false" style="overflow-x: hidden;" direction="x" class="navi">
                <a ng-click="demo('{{dt.specialData.specialid}}_{{$index}}')" ng-repeat="items in dt.specialData.items">{{items.name}}</a>
            </ion-scroll>
        </div>
        <!--<div class="special_top" compile="dt.specialData.special_top" ></div>-->
        <ul class="list goods-ul" ng-if="dt.items.length" ng-repeat="items in dt.specialData.items">
            <li style="width: 100%" id="{{dt.specialData.specialid}}_{{$index}}">
                <div class="tag_title">
                    {{items.name}}
                </div>
            </li>
            <li class="item" goods-item="specialDetail" ng-repeat="item in items.items track by item.goodsid" >
                <div class="goods-div">
                    <div class="img hasTag">
                       <div class="tag"><div class="left color{{item.tag.status}}" ng-if="item.tag.txt">{{item.tag.txt}}</div> <div class="right color-1" ng-if="item.tag.show_limit">限购</div> <div class="right color-2" ng-if="item.store == 0">{{dt.conf.no_goods_txt || '无货'}}</div></div>
                        <img class="bg" ng-if="$index < 6" ng-src="{{item.image}}" ng-click="goGoods(item.goodsid)"/>
                        <img class="bg" ng-if="$index >= 6" image-lazy-src="{{item.image}}" image-lazy-loader="dots" ng-click="goGoods(item.goodsid)"/>
                        <div class="count_down" ng-class="{'ing': item.tag.ing == 1}" ng-if="item.tag.show_cd == 1 && cds[item.goodsid]">{{cds[item.goodsid].cd}}</div>
                    </div>
                    <div class="name">
                        {{item.name}}
                    </div>
                    <div class="stepper" ng-class="{'gray-dom': item.store == 0}">
                        <div ng-if="item.tag.btn" class="btn" ng-click="orderIt(item);">{{item.tag.btn}}</div>
                        <div ng-if="!item.tag.btn" class="addCart icon iconfont icon-cartplus" ng-click="addQuantity(item);"></div>
                    </div>
                    <span class="goods_price" ng-class="{'hasCD': item.tag.show_cd == 1}" >
                        <span class="rmb" ng-if="item.tag.status != 10">￥</span><span class="pr">{{item.tag.prices.pr}}</span> <span class="dis" ng-if="item.tag.status == 10">{{dt.memberConf.score_txt || '积分'}}</span>
                        <span class="dis" ng-if="item.tag.prices.dis">{{item.tag.prices.dis}}折</span>
                        <span class="prt" ng-if="item.tag.prices.prt">{{item.tag.prices.prt}}</span>
                        <span class="rt" ng-if="item.tag.prices.rt">返￥{{item.tag.prices.rt}}</span>
                    </span>
                </div>
            </li>
        </ul>
        <!--<div class="special_bottom" compile="dt.specialData.special_bottom" ></div>-->
        <div class="blank-float"></div>
    </ion-content>
</ion-view>