<ion-view title="{{dt.type==0?(dt.memberConf.lbs_sign_pre || '门店') +'签到':'全部'+(dt.memberConf.lbs_name || '门店')}}" hide-back-button="true">
    <ion-nav-buttons side="left">
       <button class="button back-button button-icon icon iconfont icon-iosarrowback" ng-click="utils.goBack()" >
            {{ utils.hasHistory()?'返回':'购物'}}
       </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-small button-clear button-positive" ng-if="dt.type == 0" ng-click="utils.toUrl('app/sub_shop');" >全部{{dt.memberConf.lbs_name || '门店'}}</button>
    </ion-nav-buttons>
    <ion-content has-header="true" has-bouncing="true" ng-class="{'white-bg': dt.activity == 1 && dt.type == 0}">
        <ion-refresher on-refresh="doRefresh()" ></ion-refresher>
        <div ng-if="dt.spinner && dt.type == 0" class="center padding"><ion-spinner></ion-spinner></div>
        <div ng-if="dt.content && dt.type == 0" compile="dt.content"></div>
        <div class="list my-list" ng-if="dt.items.length && dt.type == 1">
            <div class="item item-icon-left locate-item max" ng-repeat="item in dt.items ">
                <i class="icon iconfont icon-androidpin"></i>
                <span >{{item.name}}</span>
                <span ng-if="item.address"><br>{{item.address}}</span>
                <span ng-if="item.tel"><br>{{item.tel}}</span>
            </div>
        </div>
        <div class="text-center padding gray empty" ng-if="dt.isEmpty && dt.type == 1">
             <i class="icon iconfont icon-alert gray" style="font-size:64px;"></i>
             <br />
             <span class="lh_64">暂时没有任何{{dt.memberConf.lbs_name || '门店'}}</span>
        </div>
        <div class="no_more_data" ng-if="dt.curPage > 1 && !dt.hasMore && !dt.isEmpty">没有更多数据啦！</div>
        <ion-infinite-scroll on-infinite="loadMore()" ng-if="dt.hasMore && dt.type == 1" >
        </ion-infinite-scroll>
    </ion-content>
</ion-view>